form{
    display: inline-block;
    padding-bottom: 30px;
    padding-right: 60px;
    width: 100px;
}
input{
    
    margin-left: 350px;
    border-radius:10px;
    width: 150%;
    text-align: right;
}

form>div{
    padding-top: 2.5px;
    padding-bottom: 10px;
}